name: "build and push docker image"

on:
  push:
    branches: [main]

  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: install sdkman
        run: curl -s "https://get.sdkman.io" | bash

      - name: install kotlin
        run: source "$HOME/.sdkman/bin/sdkman-init.sh" && sdk install kotlin

      - name: install kscript
        run: source "$HOME/.sdkman/bin/sdkman-init.sh" && sdk install kscript

      - uses: actions/checkout@v2

      - name: package scripts
        run: source "$HOME/.sdkman/bin/sdkman-init.sh" && /bin/bash package-scripts.sh

      - name: push to github packages
        uses: docker/build-push-action@v1
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          registry: docker.pkg.github.com
          repository: le0nidas/ktlint-pr-comments/ktlint-pr-comments
          tag_with_ref: true